# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Xcode private settings
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/
Carthage/Checkouts/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Finder
.Spotlight-V100
.Trashes

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
